/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos da seção principal */
  section {
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
